<a href="https://colab.research.google.com/github/mohamedyanis/BIG_DATA_WebSite/blob/master/beat_the_python_part1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Beat The Python
The workshop will get you started with the python programming language basics, the goal is to be able to use those basics to build some useful tasks (reading/writing files, getting data from internet, ....)

### Audience
Programmers & Computer science students interested in Python or just exploring different programming languages

### Prerequisites
Basic programming skills: you should have written a couple of programs with any programming language.

<ul style="display:flex;justify-content: space_between;list-style-type:none;margin-left:50px;">
<img style="width=80px;height:70px;" src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c3/Python-logo-notext.svg/1024px-Python-logo-notext.svg.png"></ul>



---

## **-1- Python Basics**

In [0]:
x1=1 # integer number declaration 
x2=1.3 # real number declaration 
x3=True # boolean declaration
x4="chaine de caracteres" #characters string declaration
print(x1,"\n",x2,"\n",x3,"\n",x4)
print(float(x1))
print(int(x2))



---

## **-2- Variables**
* No explicit type
* No prior declaration

In [0]:
student_name # wrong, NameError will be thrown

In [0]:
student_name = 'Nouh'

In [0]:
Univ = 'UMBB Boumerdes'
print(Univ)

In [0]:
###############################################################################################################################################

In [0]:
First_name = 'Aymen'
Family_name = 'Zidane'
age = 22

In [0]:
print('your full name is ' , First_name , Family_name , ' and you have' , age , 'years old')
print(f'your full name is  {First_name} {Family_name}  and you have {age} years old')

### **Exercice 1**
Write a Python programme to swap (permutation) the value of two variables a, b

In [0]:
# Your code start here

# Your code ends here



---

## **-3- Operations**
#### Math is what you would expect

In [0]:
1 + 1, 8 - 1, 10 * 2, 35 / 5

(2, 7, 20, 7.0)

#### Modulo operation

In [0]:
7 % 3

1

#### Exponentiation

In [0]:
2**3

8

#### negate with not

In [0]:
not True, not False

#### Boolean Operators

In [0]:
True and False, False or True



---

# **-4- Comparaisons**

#### Equality is `==`

In [0]:
1 == 1

True

#### Inequality is `!=`

In [0]:
2 != 1

True

#### More comparisons

In [0]:
1 < 10, 10 > 1, 2 <= 2, 2 >= 2

(True, True, True, True)

### **Exercice 2**
Write a Python program that calculate the average of a student based on the value of his exam and his test grades using the formula: `(exam*2 + test) / 2`
* Ask the user for his grades
* Calculate the average
* Print it back to him

In [0]:
# Your code start here

# Your code ends here



---



---

# **-5- String**
#### Strings are created with `"` or `'`

In [0]:
"This is a string.", 'This is also a string.'

('This is a string.', 'This is also a string.')

#### Concatenation:

In [0]:
"Hello " + "world!"

'Hello world!'

#### Length:

In [0]:
len("This is a string")

#### F-strings: Formatted string literals (python 3.7+)

In [0]:
name = "Fares"
f"He said her name is {name}."

##### Even statements are accepted

In [0]:
f"{name} is {len(name)} characters long."

#### Split a string

In [0]:
s = 'Hi Fares'
s.split(' ')    #Separation of words

#### Edit a string

In [0]:
s = 'mohamed'
s.capitalize()  #first letter in capitale letter

In [0]:
s = 'MOHAMED'
s.lower()       #all the string in small letter

In [0]:
s = 'mohamed'
s.upper()       #all the string in capital letter

####Replace a string

In [0]:
string = 'I have a banana and an orange'
string.replace('banana', 'apple')     #replace the 'banana' with 'apple'



---

# **-6- Input / Output** (I/O)

#### Input

In [0]:
age = input('how old are you? ') # Warning: It always returns a string

#### Output

In [0]:
print('Salam alaykom ya lbatata')   #    "tfakart sellal XD"
print('3andek', age, '3am, Rak jayeb rohek labes')



---

# **-7- Conditional statemants**

In [0]:
x = 12
if x > 10:
    print("x is totally bigger than 10.")
else:
    print("x is smaller or equal to 10.")

In [0]:
if x > 10:
    print("x is totally bigger than 10.")
elif x < 10:
    print("x is smaller than 10.")
else:
    print("x is indeed 10.")

### **Exercice 3**
Write a Python program that calculate the average of a student and print if he succeeded or not:
* Read the value of his exam and his test
* Calculate the average: `(exam*2 + test) / 2`
* Print if the student succeed or not

In [0]:
# Your code start here

# Your code ends here



---

# **-8- Lists**

In [0]:
# List definition
li = [1, 2, 3, 4, 5, 6]

In [0]:
# Add to the end 
li.append(1)
li

In [0]:
Separation of words

In [0]:
# Access
li[0]

In [0]:
li[6]  # Raises an IndexError

In [0]:
li[-1]  # Access the end

In [0]:
# Slicing
li[1:3]

In [0]:
# Remove
del li[2]

In [0]:
# Remove the last element
li.pop()
li

In [0]:
# Remove index of element
li.remove(4)   
li

In [0]:
# Get index of element
li.index(2)

In [0]:
li.index(4)  # Raises a ValueError

In [0]:
# Insert at a specific index
li.insert(1, 2)
li

In [0]:
# Check for existence
1 in li

In [0]:
# Find the max value 
li = [1,25,2,82,42,8]
max_li = max(li)
print(max_li)

In [0]:
# Find the min value 
li = [1,25,2,82,42,8]
min_li = min(li)
print(min_li)



---

# **-9- Dictionnaries**

In [0]:
age_dic={"khalil":27,"fatah":28,"sofian":22}
print(age_dic)
print("keys of a:",age_dic.keys())
print("values of a:",age_dic.values())

## Accessing Values in Dictionary

In [0]:
dic = {'Name': 'youcef', 'Age': 18, 'Class': 'First'}
print ('his name is: ' ,dic['Name'])  #get the name
print ('he have: ' ,dic['Age'])   #get the age

## Updating Dictionary

In [0]:
dic = {'Name': 'yousri', 'Age': 19, 'Class': 'First'}
dic['Age'] = 8; # update existing entry
dic['School'] = "DPS School" # Add new entry

print ("Your age: ", dic['Age'])
print ("Your shcool: ", dic['School'])

## Mix two Dictionaries

In [0]:
Student_info = {'Name': 'yousri', 
            'Age': 19, 
            'Class': 'First'}


Student_skill = {'prongraming': '50%', 
                 'hardware': '33%', 
                 'software': '98%'}

d={**dic, **age_dic}
d

# **-9- Loops**

In [0]:
for num in li:
  print(num)

In [0]:
for animal in ["dog", "cat", "mouse"]:
    print(f"{animal} is a mammal")

In [0]:
# range(number) returns an iterable of numbers from zero to the given number
for i in range(4):
    print(i)

In [0]:
# range(lower, upper) returns an iterable of numbers  from lower to upper
for i in range(4, 8):
    print(i)

In [0]:
# range(lower, upper, step) returns an iterable of numbers from the lower number to the upper number, while incrementing by step. If step is not indicated, the default value is 1.
for i in range(4, 8, 2):
    print(i)

In [0]:
# To loop over a list, and retrieve both the index and the value of each item in the list
animals = ["dog", "cat", "mouse"]
for i, value in enumerate(animals):
    print(i, value)

### **Exercice 5**
Write a program that checks if a given value belongs to a given list 5 times
* Read the value 
* Check the value
* Print if the value in the list or not

The list:
```python
input_list = [1,2,8,15,5,4,63,45,3,874,36,85,52,74,52,14,59,57]
```

In [0]:
# Your code start here

# Your code ends here

# **Try / Except**

In [0]:
num = int(input('Enter a number: '))
print(num)

### **Exercice 5**
1. Write a program to read 10 numbers from keyboard and find their sum and average
2. Create a program that asks the user for a number and then prints out a list of all the divisors of that number.

In [0]:
# Your code start here

# Your code ends here

In [0]:
# Your code start here

# Your code ends here



---

<img src="https://static.arageek.com/wp-content/uploads/6316833.jpg" style="padding-right:150px;max-height:300px">